---
import { Image } from "astro:assets";
import ThemeWrapper from "./ThemeWrapper.astro";

import PartnershipImage from "../images/partnership-min.png";
import Tenece from "../images/Tenece-logo.png";
import Dawnhill from "../images/Dawnhill.png";
---

<section class="bg-white w-full pt-10 md:pt-20 pb-14" id="partnerships">
  <ThemeWrapper>
    <section class="w-full flex flex-col">
      <div class="flex flex-col gap-2 md:gap-4">
        <span class="text-sm text-[#FFB800] font-body-medium">Partnership</span>
        <h1 class="max-w-xl font-body-bold text-2xl md:text-5xl">
          Build or own a property without boundaries
        </h1>
        <p
          class="max-w-xl font-body-medium text-sm md:text-base text-[#707070]"
        >
          With our strategic partnerships, we provide the very best, hassle-free
          mortgage. You can get all your property needs resolved with ease,
          trust and confidence.
        </p>
      </div>
      <div
        class="flex flex-col-reverse gap-5 lg:flex-row xl:flex-row md:gap-16 md:mt-16"
      >
        <div class="flex-1 lg:flex-1 justify-between">
          <div class="">
            <p class="text-base font-body-medium text-[#707070]">
              We have partnered with banks, property developers, private
              lenders, and other strategic partners to ensure you have a
              streamlined process of property financing. Some of our partners
              are:
            </p>

            <div class="flex flex-wrap items-center gap-8 mt-12">
              <!-- <div class="flex-none">
                <Image
                  src={Paystack}
                  alt="motherland kitchen design mortgages"
                  decoding="async"
                  loading="lazy"
                  class="h-8 w-auto"
                />
              </div> -->
              <!-- <div class="flex-none">
                <Image
                  src={Firstbank}
                  alt="motherland kitchen design mortgages"
                  decoding="async"
                  loading="lazy"
                  class="h-8 w-auto"
                />
              </div>
              <div class="flex-none">
                <Image
                  src={JBN}
                  alt="motherland kitchen design mortgages"
                  decoding="async"
                  loading="lazy"
                  class="h-8 w-auto"
                />
              </div> -->
              <!-- <div class="flex-none">
                <Image
                  src={HSBC}
                  alt="motherland kitchen design mortgages"
                  decoding="async"
                  loading="lazy"
                  class="h-8 w-auto"
                />
              </div>
              <div class="flex-none">
                <Image
                  src={UBA}
                  alt="motherland kitchen design mortgages"
                  decoding="async"
                  loading="lazy"
                  class="h-8 w-auto"
                />
              </div> -->
              <div class="flex-none">
                <Image
                  src={Dawnhill}
                  alt="motherland kitchen design mortgages"
                  decoding="async"
                  loading="lazy"
                  class="h-8 w-auto"
                />
              </div>
              <div class="flex-none">
                <Image
                  src={Tenece}
                  alt="motherland kitchen design mortgages"
                  decoding="async"
                  loading="lazy"
                  class="h-8 w-auto"
                />
              </div>
            </div>
          </div>

          <div
            class="flex gap-4 items-center mt-10 md:mt-5 lg:mt-[60px] xl:mt-40"
          >
            <button
              data-join-partnership
              class="px-3 py-3 lg:px-6 lg:py-[15px] xl:px-6 xl:py-[15px] rounded-lg w-fit font-body-medium text-white sm:text-sm text-base bg-main"
              >Become a partner</button
            >
            <button
              class="px-3 py-3 lg:px-6 lg:py-[15px] xl:px-6 xl:py-[15px] bg-white border-[1px] border-main rounded-lg font-body-medium text-base sm:text-sm text-main"
              data-join-waitlist>Get started</button
            >
          </div>
        </div>
        <div class="flex-2 lg:flex-2 xl:flex-2">
          <Image
            src={PartnershipImage}
            alt="motherland kitchen design mortgages"
            decoding="async"
            loading="lazy"
            class="h-80 md:h-[500px] lg:h-[400px] xl:h-[573px] w-full rounded-xl mt-6 md:mt-0"
          />
        </div>
      </div>
    </section>
  </ThemeWrapper>
</section>
