---
import { Image } from "astro:assets";
import ThemeWrapper from "./ThemeWrapper.astro";

import KitchenImage from "../images/kitchen.jpg";
import Lagos from "../images/lagos.jpg";
import Abuja from "../images/abuja.jpg";
import Port from "../images/port.jpg";
import Enugu from "../images/enugu.jpg";
import Uyo from "../images/uyo.jpg";
---

<section class="bg-white w-full pt-10 md:pt-24 pb-0 md:pb-28" id="whyus">
  <ThemeWrapper>
    <span class="text-xs text-main font-body-medium">Why us?</span>
    <h1 class="max-w-xl font-body-bold text-2xl md:text-5xl">
      We understand what it means to have a home.
    </h1>

    <Image
      src={KitchenImage}
      alt="motherland kitchen design mortgages"
      decoding="async"
      loading="lazy"
      class="h-60 md:h-[600px] w-full rounded-xl mt-6"
    />
    <div
      class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 px-0 md:px-6 lg:px-16 xl:px-16 mt-9"
    >
      <div>
        <h1 class="font-body-bold text-2xl">
          Our vision is to make your home ownership dream a reality
        </h1>
      </div>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 pt-5 md:pt-10 gap-5 px-0 md:px-6 lg:px-16 xl:px-16"
    >
      <div class="flex flex-col gap-1 bg-[#F1FFE7] p-5 md:p-10 rounded-lg">
        <h6 class="text-sm font-body-medium text-black text-opacity-90">
          The Struggle:
        </h6>
        <p class="text-sm font-body-medium text-black text-opacity-60">
          Motherland makes it easy and secure for Africans in the diaspora to
          invest in a retirement home or rental property back home without fear
          of fraud. We understand the struggles many have faced with trusting
          others to manage their remittances toward construction projects, only
          to be let down.
        </p>
      </div>

      <div class="flex flex-col gap-1 bg-[#F9F087] p-5 md:p-10 rounded-lg">
        <h6 class="text-sm font-body-medium text-black text-opacity-90">
          Our Strategy:
        </h6>
        <p class="text-sm font-body-medium text-black text-opacity-60">
          By working with transparent credit unions in North America, we offer
          qualified borrowers straightforward, flexible payment plans spread
          over 5 to 15 years.
        </p>
      </div>

      <div
        class="flex flex-col gap-1 bg-[#FEAB2E] bg-opacity-40 p-5 md:p-10 rounded-lg"
      >
        <h6 class="text-sm font-body-medium text-black text-opacity-90">
          The Result:
        </h6>
        <p class="text-sm font-body-medium text-black text-opacity-60">
          Our services handle local laws, language differences, and time zones,
          making offshore real estate transactions hassle-free. With Motherland,
          you can confidently finance and secure your dream property in select
          African cities.
        </p>
      </div>
    </div>

    <div class="flex flex-col justify-center pt-16 items-center w-full">
      <h1
        class="block md:hidden font-body-bold text-2xl md:text-5xl text-center leading-normal text-black pb-5 max-w-3xl"
      >
        <span class="text-[#2DCA73]">Own</span> your first or next property in the
        heart of <span class="text-[#2DCA73]">Nigeria's top cities</span>
      </h1>

      <div class="flex flex-wrap md:flex-nowrap flex-row gap-4 md:gap-8">
        <div
          class="w-[47%] h-[150px] md:w-[200px] md:h-[300px] lg:w-[300px] lg:h-[400px] xl:w-[300px] xl:h-[400px] relative rounded-xl md:rounded-full"
        >
          <div
            class="bg-black bg-opacity-40 absolute z-10 flex justify-center items-center w-full h-full top-0 rounded-xl md:rounded-full"
          >
            <h1
              class="font-body-black text-base md:text-5xl text-white text-center"
            >
              Lagos
            </h1>
          </div>
          <Image
            src={Lagos}
            alt="Lagos city"
            class="w-full h-full object-cover rounded-xl md:rounded-full"
            decoding="async"
          />
        </div>
        <div
          class="w-[47%] h-[150px] md:w-[200px] md:h-[300px] lg:w-[300px] lg:h-[400px] xl:w-[300px] xl:h-[400px] relative rounded-xl md:rounded-full"
        >
          <div
            class="bg-black bg-opacity-40 absolute z-10 flex justify-center items-center w-full h-full top-0 rounded-xl md:rounded-full"
          >
            <h1
              class="font-body-black text-base md:text-5xl text-white text-center"
            >
              Abuja
            </h1>
          </div>
          <Image
            src={Abuja}
            alt="Lagos city"
            class="w-full h-full object-cover rounded-xl md:rounded-full"
            decoding="async"
          />
        </div>
        <div
          class="w-[47%] h-[150px] md:w-[200px] md:h-[300px] lg:w-[300px] lg:h-[400px] xl:w-[300px] xl:h-[400px] relative rounded-xl md:rounded-full"
        >
          <div
            class="bg-black bg-opacity-40 absolute flex justify-center items-center w-full h-full top-0 rounded-xl md:rounded-full"
          >
            <h1
              class="font-body-black text-base md:text-5xl text-white text-center"
            >
              Uyo
            </h1>
          </div>
          <Image
            src={Uyo}
            alt="Uyo city"
            class="w-full h-full object-cover rounded-xl md:rounded-full"
            decoding="async"
          />
        </div>

        <div
          class="flex md:hidden w-[47%] h-[150px] md:w-[200px] md:h-[300px] lg:w-[300px] lg:h-[400px] xl:w-[300px] xl:h-[400px] relative rounded-xl md:rounded-full"
        >
          <div
            class="bg-black bg-opacity-40 absolute z-10 flex justify-center items-center w-full h-full top-0 rounded-xl md:rounded-full"
          >
            <h1
              class="font-body-black text-base md:text-5xl text-white text-center"
            >
              Port <br /> harcout
            </h1>
          </div>
          <Image
            src={Port}
            alt="Lagos city"
            class="w-full h-full object-cover rounded-xl md:rounded-full"
            decoding="async"
          />
        </div>
        <div
          class="flex md:hidden w-[100%] h-[200px] md:w-[200px] md:h-[300px] lg:w-[300px] lg:h-[400px] xl:w-[300px] xl:h-[400px] relative rounded-xl md:rounded-full"
        >
          <div
            class="bg-black bg-opacity-40 absolute z-10 flex justify-center items-center w-full h-full top-0 rounded-xl md:rounded-full"
          >
            <h1
              class="font-body-black text-base md:text-5xl text-white text-center"
            >
              Enugu
            </h1>
          </div>
          <Image
            src={Enugu}
            alt="Lagos city"
            class="w-full h-full object-cover rounded-xl md:rounded-full"
            decoding="async"
          />
        </div>
      </div>

      <h1
        class="hidden sm:block font-body-bold text-2xl md:text-5xl text-center leading-normal text-black py-5 md:py-10 max-w-3xl"
      >
        <span class="text-[#2DCA73]">Own</span> your first or next property in the
        heart of <span class="text-[#2DCA73]">Nigeria's top cities</span>
      </h1>

      <div class="hidden sm:flex flex-row gap-4 md:gap-8">
        <div
          class="w-[170px] h-[150px] md:w-[200px] md:h-[300px] lg:w-[300px] lg:h-[400px] xl:w-[300px] xl:h-[400px] relative rounded-xl md:rounded-full"
        >
          <div
            class="bg-black bg-opacity-40 absolute z-10 flex justify-center items-center w-full h-full top-0 rounded-xl md:rounded-full"
          >
            <h1
              class="font-body-black text-base md:text-5xl text-white text-center"
            >
              Port <br /> harcout
            </h1>
          </div>
          <Image
            src={Port}
            alt="Lagos city"
            class="w-full h-full object-cover rounded-xl md:rounded-full"
            decoding="async"
          />
        </div>
        <div
          class="w-[170px] h-[150px] md:w-[200px] md:h-[300px] lg:w-[300px] lg:h-[400px] xl:w-[300px] xl:h-[400px] relative rounded-xl md:rounded-full"
        >
          <div
            class="bg-black bg-opacity-40 absolute z-10 flex justify-center items-center w-full h-full top-0 rounded-full"
          >
            <h1
              class="font-body-black text-base md:text-5xl text-white text-center"
            >
              Enugu
            </h1>
          </div>
          <Image
            src={Enugu}
            alt="Lagos city"
            class="w-full h-full object-cover rounded-xl md:rounded-full"
            decoding="async"
          />
        </div>
      </div>

      <div
        class="pt-14 flex flex-col md:flex-row items-center gap-4 pb-10 md:pb-0"
      >
        <span class="text-sm text-black text-opacity-70">Coming soon to:</span>
        <div
          class="flex gap-2 md:gap-3 items-center mx-auto md:mx-0 md:w-fit overflow-scroll md:overflow-visible px-2 md:px-0"
        >
          <span class="font-body-medium text-base whitespace-nowrap"
            >Nairobi</span
          >
          <span class="w-1 h-1 rounded-full bg-black flex flex-shrink-0"></span>
          <span class="font-body-medium text-base whitespace-nowrap">Accra</span
          >
          <span class="w-1 h-1 rounded-full bg-black flex flex-shrink-0"></span>
          <span class="font-body-medium text-base whitespace-nowrap"
            >Addis Ababa</span
          >
          <span class="w-1 h-1 rounded-full bg-black flex flex-shrink-0"></span>
          <span class="font-body-medium text-base whitespace-nowrap">Cairo</span
          >
          <span class="w-1 h-1 rounded-full bg-black flex flex-shrink-0"></span>
          <span class="font-body-medium text-base whitespace-nowrap"
            >Pretoria</span
          >
        </div>
      </div>
    </div>
  </ThemeWrapper>
</section>
